description = "Psychologisch,  systemische  Beratung  und  Therapie"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html>

<head>
  {% partial 'site/meta' %}
</head>
<body>

<div class="uk-offcanvas-content uk-grid-collapse" uk-grid>
  <!-- Header -->
  <header id="layout-header" class="bzw-width-1-12 uk-visible@s">
    {% partial 'site/header' %}
  </header>

  <div id="header-mobile" class="uk-width-1-1 uk-hidden@s">
    {% partial 'site/header-mobile' %}
  </div>

  <div id="main-content" class="uk-width-expand">
    <!-- Content -->
    <main id="layout-content">
      {% partial "components/pageheader" color="muted" %}

      <div class="uk-section uk-section-default uk-section-xsmall">
        <div class="uk-container uk-container-expand">

              <ul uk-accordion="multiple: true">
                {repeater name="content_sections" label="Therapieangebote" tab="Therapieangebote" prompt="Add another content section"}
                <li>
                  <a class="uk-accordion-title uk-link-reset" href="#">
                    <hr>
                    <h3 class="uk-plantin uk-margin uk-padding uk-padding-remove-vertical">{text name="title" label="Titel"}Title{/text}</h3>
                  </a>
                  <div class="uk-accordion-content uk-padding uk-padding-remove-vertical">
                    <p>{richeditor name="content" label="Inhalt"}Content{/richeditor}</p>
                  </div>
                </li>
                {/repeater}
              </ul>

        </div>
      </div>

    </main>
  </div>

  <!-- Footer -->
  <footer id="layout-footer" class="footer-main uk-width-1-1">
    {% partial 'site/footer' %}
  </footer>


</div>

<!-- Scripts -->
<script src="{{ 'assets/dist/js/manifest.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/vendor.js'|theme }}"></script>
<script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

</body>
</html>