/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
.idea
.env
.env.*.php
.env.php
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
selenium.php


# for netbeans
nbproject

# Ignore the vagrant box virtual machine files
/.vagrant

# Ignore Laravel/OctoberCMS logs and cache
storage/logs/
storage/framework/
storage/framework/cache/

/.idea

