<div class="uk-section uk-section-primary">
  <div class="uk-container uk-container-expand">
    <div class="" uk-grid>
      <div class="uk-width-1-5@s">
        <img uk-img uk-responsive-height data-src="https://picsum.photos/g/100/100/?random">
      </div>

      <div class="uk-width-1-5@s">
        <h6 class="uk-h6 uk-text-uppercase uk-text-bold">Praktika</h6>
      </div>

      <div class="uk-width-expand@s">
        <h6 class="uk-h6 uk-text-uppercase uk-text-bold">Kontakt</h6>

        <p>+493641443564</p>
        <p>
          mstreicher@beziehungswerkstatt­jena.de<br>
          gstreicher@beziehungswerkstatt­jena.de<br>
          institut@beziehungswerkstatt­jena.de
        </p>
      </div>

      <div class="uk-width-expand@s">
        <h6 class="uk-h6 uk-text-uppercase uk-text-bold">Praxis</h6>
        <p>Ludwig-Weimar-Gasse 1</p>

        <h6 class="uk-h6 uk-text-uppercase uk-text-bold">Postadresse</h6>
        <p>Ernst-Block-Ring 29
          <br>
          07742 Jena</p>
      </div>
    </div>
  </div>
</div>
<div class="uk-section uk-section-xsmall uk-section-primary">
  <div class="uk-container uk-container-expand">
    <div class="uk-text-small uk-text-right">
      Impressum & Datenschutz | Copyright Beziehungswerkstatt Jena 2018
    </div>
  </div>
</div>