<div class="uk-section uk-section-primary">
  <div class="uk-container">
    <div class="uk-child-width-1-4@s" uk-grid>
      <div>
        <h6>Logo</h6>
      </div>

      <div>
        <h6>Praktika</h6>
      </div>

      <div>
        <h6>Kontakt</h6>
      </div>

      <div>
        <h6>Praxis</h6>
      </div>
    </div>
  </div>
</div>
<div class="uk-section uk-section-xsmall uk-section-primary">
  <div class="uk-container">
    <div class="uk-text-small uk-text-right">
      Impressum & Datenschutz | Copyright Beziehungswerkstatt Jena 2018
    </div>
  </div>
</div>