==
<div class="uk-section uk-section-default uk-section-xsmall uk-padding-remove-vertical">
  <div class="uk-container uk-container-expand uk-padding-remove">

    <div class="uk-child-width-1-2@s uk-grid-small uk-text-center" uk-grid uk-height-match="target: > div > .uk-tile">
      <div>
        <div class="uk-tile uk-tile-secondary uk-padding">
        Beziehungswerkstatt Jena
      </div>
      </div>
      <div>
        <div class="uk-tile uk-tile-secondary uk-padding">
        Institut für Systemische Beratung, Familientherapie und Supervision
      </div>
      </div>
    </div>
  </div>
</div>