==
<div class="uk-section uk-section-default uk-section-xsmall uk-padding-remove-vertical">
  <div class="uk-container uk-container-expand uk-padding-remove">

    <div class="uk-child-width-1-2@s uk-grid-small uk-text-center" uk-grid uk-height-match="target: > div > .uk-tile">
      <div>
        <div class="uk-tile uk-tile-secondary uk-padding">
          <h4 class="uk-h4 uk-margin-remove uk-padding-small">Praxisangebot</h4>
          <a href="/praxis" class="uk-overlay uk-position-cover"></a>
        </div>
      </div>
      <div>
        <div class="uk-tile uk-tile-secondary uk-padding">
          <h4 class="uk-h4 uk-margin-remove uk-padding-small">Weiterbildung</h4>
          <a href="/institut" class="uk-overlay uk-position-cover"></a>
        </div>
      </div>
    </div>
  </div>
</div>