description = "Layout für Beziehungswerkstatt"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body>
        
        <div uk-sticky uk-height-viewport class="uk-section-primary">
            {% placeholder headswitch %}
        </div>
        
        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <main id="layout-content">
            {% page %}
        </main>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        <script src="{{ 'assets/dist/js/manifest.js'|theme }}"></script>
        <script src="{{ 'assets/dist/js/vendor.js'|theme }}"></script>
        <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>